venv
.idea
*.*~
*.pyc
__pycache__
db.sqlite3
*.sqlite3
.env
*/media/*
.coverage
htmlcov/*

.history
Ignore/*
.svn
__pycache__/
*.log
*.pot
*.pyc
*.idea
/venv/
/DjangoApp/venv/
.env
.env.prod
.vscode
*/media/*
**/arquivos
